{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <style>
    body {
      background-image: url("{% static 'core/img/fundo.png' %}");
      background-size: cover;
    }
    .card {
      background-color: rgba(255, 255, 255, 0.7);
    }
  </style>
</head>
<body>
  <header>
    </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>